.sessionTable{
    margin-top: 0.5vw;
}
.sessionButt{
    box-shadow: 0px 1px 3px grey;
}
.patientUser{
    margin-right: 50vw;
}
.pillTab{
    margin-right: 10vw;
    margin-left: 10vw;
}