.signUpButton{
    background-image: linear-gradient(#A3C0FF, #AE87FD);
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: larger;
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 140px;
    margin-left: 75px;
    box-shadow: 0px 1px 3px grey;
    transition-duration: 0.2s;
}
.signUpButton:hover{
    box-shadow: 0px 4px 7px grey;
}
.signUpButton:active{
    background-image: linear-gradient(to bottom right, #CAB0FF, #AE87FD);
}